<footer class="footer text-light text-center py-3">
    <small class="copyright">
        Sitio desarrollado con
        <a class="text-light text-primary" href="https://github.com/JorgeHRJ/persona" target="_blank">Persona</a>
    </small>
</footer>
