<!DOCTYPE html>
<html lang="es">
<head>
    <title>Jorge Hernández Ríos | {{ get_title() }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ preload(asset('build/site/site.css', 'site'), {as: 'style'}) }}"/>
    {% endblock %}
</head>
<body {{ get_body_attr() }}>
{% block body %}{% endblock %}

{% block translations %}{% endblock %}

{% for js_file in encore_entry_js_files('site', 'site') %}
    <script src="{{ preload(asset(js_file, 'site'), {as: 'script'}) }}"></script>
{% endfor %}

{% block javascripts %}{% endblock %}
</body>
</html>
