.hide {
    display: none;
}

.media {
    display: flex;
    align-items: flex-start;
}

.entity-card-image {
    max-width: 160px;
}

.project-card-image {
    max-width: 800px;
}

.post-card-image {
    max-width: 1200px;
}

.title-bordered:after {
    content:"";
    display:block;
    width: 6em;
    max-width:70%;
    border-bottom: 0.15em solid #3dae84;
    margin: 5px auto 20px;
}

.ce-block__content {
    max-width: 85% !important;
}

.codex-editor__redactor {
    padding-bottom: 100px !important;
}

.cdx-input.image-tool__caption {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    outline: none !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: italic !important;
}

.tc-table {
    font-size: 1rem;
}

img:not([src]) {
    visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
