.hide {
    display: none;
}

.media {
    display: flex;
    align-items: flex-start;
}

.entity-card-image {
    max-width: 160px;
}

.project-card-image {
    max-width: 800px;
}

.post-card-image {
    max-width: 1200px;
}

.title-bordered:after {
    content:"";
    display:block;
    width: 6em;
    max-width:70%;
    border-bottom: 0.15em solid #3dae84;
    margin: 5px auto 20px;
}

.single-post-wrapper {
    max-width: 85%;
    color: #35373d;
}

.single-post-wrapper img {
    max-width: 100%;
}

img:not([src]) {
    visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
