<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
        <strong><i class="fa fa-exclamation-circle"></i></strong>
        No hay elementos para mostrar en este momento
    </div>
</div>
