{% extends 'cms/layout.html.twig' %}

{% page_setup {
    'title': 'Nueva etiqueta',
    'header': 'Nueva etiqueta',
    'subheader': 'Rellena el formulario para crear una nueva etiqueta',
    'breadcrumbs': [
    {
        'name': 'Etiquetas',
        'path': path('cms_tag_index')
    },
    {
        'name': 'Nueva etiqueta',
        'main': true
    }
]
    } %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('cms/tag/components/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
