<h2 class="page-heading mb-3">Blog</h2>
<div class="page-heading-tagline">
    <p>Artículos principalmente sobre desarrollo de software</p>
    <p>
        <a href="{{ path('site_feed_rss') }}">
            <img src="{{ asset('build/site/images/site/rss.gif') }}" alt="RSS">
        </a>
    </p>
</div>
