{% extends 'cms/layout.html.twig' %}

{% page_setup {
    'title': 'Dashboard',
    'header': 'Dashboard',
    'subheader': 'Vista general',
    'breadcrumbs': [
        {
            'name': 'Dashboard',
            'main': true
        }
    ],
} %}

{% block content %}
    <div class="row mb-2">
        <h1>¡Bienvenido de nuevo, {{ app.user.name }}!</h1>
    </div>
    <div class="row">
        {% for stat in stats %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">{{ stat.label }}</h5>
                            </div>
                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-primary-light">
                                        <i class="{{ stat.icon }}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">{{ stat.data }}</h1>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
