{% extends 'cms/layout.html.twig' %}

{% page_setup {
    'title': 'Nueva categoría',
    'header': 'Nueva categoría',
    'subheader': 'Rellena el formulario para crear una nueva categoría',
    'breadcrumbs': [
        {
            'name': 'Categorías',
            'path': path('cms_category_index')
        },
        {
            'name': 'Nueva categoría',
            'main': true
        }
    ]
} %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('cms/category/components/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
